{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    {% load static %}
    <link rel="icon" href="{% static 'lms.png' %}" />
    <title>LMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: "Lato", "sans-serif"
        }

        .mySlides {
            display: none
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>{% if request.user.is_authenticated %}
            <button class="w3-bar-item w3-padding-large ">
                Hello {{request.user}}
            </button>
            {% endif %}
            <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
            <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="https://online.hnbgu.ac.in" class="w3-bar-item w3-button">COURSES</a>
                    <a href="https://www.hnbgu.ac.in" class="w3-bar-item w3-button">HNBGU</a>

                </div>
            </div>
            {% if not request.user.is_authenticated %}
            <a href="/signin" class="w3-button w3-padding-large w3-hover-red w3-hide-small w3-right">SIGN IN</a>
            <a href="/admin_login" class="w3-button w3-padding-large w3-hover-red w3-hide-small w3-right">ADMIN</a>
            {% endif %}
            {% if request.user.is_authenticated %}
            <a href="/logout" class="w3-padding-large w3-button w3-hover-red w3-hide-small w3-right">LOGOUT</a>
            <a href="/profile" class="w3-padding-large w3-button w3-hover-red w3-hide-small w3-right">PROFILE</a>
            {% endif %}


        </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="#book" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BOOKS</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>

    </div>

    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:100px">

        <!-- Automatic Slideshow Images -->
        <div class="mySlides w3-display-container w3-center">
            <img src="/static/cpp.jpg" style="height:20%;">
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
            </div>
        </div>
        <div class="mySlides w3-display-container w3-center">
            <img src="/static/py.jpg" style="height:20%;">
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
            </div>
        </div>
        <div class="mySlides w3-display-container w3-center">
            <img src="/static/dj.jpg" style="height:20%;">
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
            </div>
        </div>

        <!-- The top Section -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="home">
            <h2 class="w3-wide"><b>LMS</b></h2>
            <p class="w3-opacity"><b>L</b>ibrary <b>M</b>anagement <b>S</b>ystem</p>
            <p class="w3-justify">“The richest person in the world in fact all the riches in the world couldn’t provide you with anything like the endless, incredible loot available at your local library.” – <b>Malcolm Forbes</b>
            </p>
        </div>

        <!-- The book Section -->
        <div class="w3-black" id="book">
            <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
                <h2 class="w3-wide w3-center">BOOKS</h2>
                <p class="w3-opacity w3-center">Remember to return books within 7 days.</p><br>


                <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                    <div class="w3-third w3-margin-bottom">
                        <img src="/static/py.jpg" alt="" style="width: 100%; height: 400px;" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p><b>Python</b></p>

                        </div>
                    </div>
                    <div class="w3-third w3-margin-bottom">
                        <img src="/static/dj.jpg" alt="" style="width: 100%; height: 400px;" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p><b>Django</b></p>

                        </div>
                    </div>
                    <div class="w3-third w3-margin-bottom">
                        <img src="/static/cpp.jpg" alt="" style="width: 100%; height: 400px;" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p><b>C++</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The Contact Section -->
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
            <h2 class="w3-wide w3-center">CONTACT US</h2>

            <div class="w3-row w3-padding-32">
                <div class="w3-col m6 w3-large w3-margin-bottom">
                    <i class="fa fa-map-marker" style="width:30px"></i> HNBGU, Srinagar, U.K<br>
                    <i class="fa fa-envelope" style="width:30px"> </i> E-Mail: lms.sudo@gmail.com<br>
                </div>
                <div class="w3-col m6">
                    <form action="/action_page.php" target="_blank">
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-half">
                                <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                            </div>
                            <div class="w3-half">
                                <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                            </div>
                        </div>
                        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                        <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
                    </form>
                </div>
            </div>
        </div>


        <!-- About Us -->
        <div class="w3-black" id="aboutus">
            <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
                <h2 class="w3-wide w3-center">OUR AIM</h2>
                <p class="w3-opacity w3-center">The main objective of this project is to manage the details of the
                    students, books and the issued books efficiently. This project helps to keep all the records of the library.
                    Students can register themselves to this system. The admin can then issue them with any book they
                    want to read for a period of 7 days. The students are requested to return it within 7 days of
                    time or else there is a ₹5 fine/day till the book is being returned. After returning, they can re-issue a new book if the student wants. <br/>- <b>Team LMS</b></p><br>
            </div>

</body>

<script>
    // Automatic Slideshow - change images every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000);
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</html>