<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
	<link rel="icon" href="{% static 'lms.png' %}" />
	<title>Issue Book</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<style>
		.container {
			margin: auto;
			width: 50%;
			padding: 10px;
			background: white;
			border-radius: 12px;
		}
	</style>

</head>

<body style="background-color:#000000;">

	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-black w3-card">
			<a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
				href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu">
				<i class="fa fa-bars"></i>
			</a>
			{% if request.user.is_authenticated %}
			<button class="w3-bar-item w3-padding-large ">
				{% if request.user.is_superuser %}
				HELLO ADMIN
				{% else %}
				HELLO {{request.user}}
				{% endif %}
			</button>
			{% endif %}
			<a href="/#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
			<a href="https://www.hnbgu.ac.in" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HNBGU</a>
			<a href="https://www.hnbgu.ac.in/courses-glance"
				class="w3-bar-item w3-button w3-padding-large w3-hide-small">COURSES</a>
			<div class="w3-dropdown-hover w3-hide-small">
				<button class="w3-padding-large w3-button" title="More">MORE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
						class="fa fa-caret-down"></i></button>
				<div class="w3-dropdown-content w3-bar-block w3-card-4">
					<a href="#" class="w3-bar-item w3-button">LMS FOR PC</a>
					<a href="https://github.com/theDebonair/lms_android/releases" class="w3-bar-item w3-button">LMS FOR
						ANDROID</a>
					<a href="/#contact" class="w3-bar-item w3-button">CONTACT</a>
					<a href="/#aboutus" class="w3-bar-item w3-button">ABOUT US</a>
				</div>
			</div>
			{% if not request.user.is_authenticated %}
			<a href="/admin_login" class="w3-button w3-padding-large w3-hover-red w3-hide-small w3-right">ADMIN</a>
			<a href="/signin" class="w3-button w3-padding-large w3-hover-red w3-hide-small w3-right">STUDENT</a>
			{% endif %}
			{% if request.user.is_authenticated %}
			<a href="/profile" class="w3-padding-large w3-button w3-hover-red w3-hide-small w3-right">PROFILE</a>
			<a href="/logout" class="w3-padding-large w3-button w3-hover-red w3-hide-small w3-right">LOGOUT</a>
			{% endif %}
		</div>
	</div>

	<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
	<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
		{% if not request.user.is_authenticated %}
		<a href="/admin_login" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ADMIN</a>
		<a href="/signin" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">STUDENT</a>
		{% endif %}
		{% if request.user.is_authenticated %}
		<a href="/profile" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PROFILE</a>
		<a href="/logout" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOGOUT</a>
		{% endif %}
		<a href="https://www.hnbgu.ac.in" class="w3-bar-item w3-button w3-padding-large"
			onclick="myFunction()">HNBGU</a>
		<a href="https://www.hnbgu.ac.in/courses-glance" class="w3-bar-item w3-button w3-padding-large"
			onclick="myFunction()">COURSES</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">LMS FOR PC</a>
		<a href="https://github.com/theDebonair/lms_android/releases" class="w3-bar-item w3-button w3-padding-large">LMS
			FOR ANDROID</a>
		<a href="/#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
		<a href="/#aboutus" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ABOUT US</a>
	</div>
	<div class="container" style="margin-top: 80px;">
		<form method="post" class="form-horizontal">
			{% csrf_token %}
			<center>
				<h2>ISSUE BOOK TO STUDENT</h2>
			</center>

			{% for field in form %}
			<div class="form-group" style="padding-top: 10px;">
				<label class="control-label col-xs-4">{{ field.label_tag }}</label>
				<div class="col-xs-8">
					{{ field }}
				</div>
			</div>
			{% endfor %}

			<div class="form-group">
				<center>
					<div class="col-xs-8 col-xs-offset-4">
						<button type="submit" class="btn btn-primary btn-lg" style="width: 15rem;">ISSUE</button>
					</div>
				</center>
			</div>
		</form>
		<div>
			<center>
				<a href="/viewissuebook">VIEW ISSUED BOOKS</a>
			</center>
		</div>
	</div>
</body>

</html>