<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    {% load static %}
    <link rel="icon" href="{% static 'lms.png' %}" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    {% block css %}
    <style>
        .profile {
            padding: 3%;
            margin-top: 10%;
            margin-bottom: 50%;
            border-radius: 0.5rem;
            background: lightblue;
        }

        .profile-img {
            text-align: right;
        }
    </style>
    {% endblock %}
</head>

{% block body %}
<a href="/index" button type="button" class="btn btn-dark">Home</a></button>
<div class="container profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                {% if request.user.is_superuser %}
                <img src="/static/admin.jpg" alt="" width="310px" height="270px">
                {% else %}
                <img src="/static/student.png" alt="" width="310px" height="270px">
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <div class="row">
                        <div class="col-md-6">
                            <label>ID: {{user.id}}</label>
                        </div>
                        <p></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Username: {{user}}</label>
                        </div>
                        <p></p>
                    </div>
                    {% if not request.user.is_superuser %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email: {{user.email}}</label>
                        </div>

                        <p></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Roll Number: {{user.student.roll_no}}</label>
                        </div>
                        <p></p>
                    </div>
                    {% endif %}
                </div>
                {% if request.user.is_superuser %}
                <a href='/addbook' style="width: 9rem;" class="btn btn-primary">addbook</a>
                <a href='/issuebook' style="width: 9rem;" class="btn btn-secondary">issuebook</a>
                <a href="/view_student" style="width: 9rem;" class="btn btn-info">view student</a>
                <a href='/admin/app/issuedbook/' style="width: 9rem;" class="btn btn-success">viewissuebook</a>
                <a href="/viewbook" style="width: 9rem;" class="btn btn-light">viewbook</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

</html>