<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS only -->
    <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 10px;
            background: white;
            border-radius: 12px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>View Student</title>
</head>
{% load static %}
<link rel="icon" href="{% static 'lms.png' %}" />
<body style="background: black;">
<a href="/index" button type="button" class="btn btn-dark">HOME</a></button>
<div class="p-3 mb-2 bg-white text-black container">
    <div style="text-align: center;">
        <form class="form" id="searchform" action="" method="get">
        {% csrf_token %}
            <div class="form-field">
                <input type="text" class="col-5  form-control-lg" placeholder="ENTER ROLL NUMBER" name="search_student"
                    type="text" />
                <button type="submit" class="btn btn-success form-control-lg" value="SEARCH" style="margin-bottom: 9px;">SEARCH
                </button>
            </div>

        </form>
    </div>

        <h1 class="text-center">STUDENTS LIST</h1>
        <table class="table table-hover" id="example">
            <thead>
                <tr class="text-center">
                    <th>S. NO.</th><br>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>ROLL NUMBER</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr class="text-center">
                    <th>{{forloop.counter}}.&emsp;</th>
                    <td>&emsp;{{student.user.get_username}}&emsp;</td>
                    <td>{{student.user.email}}&emsp;</td>
                    <td>{{student.roll_no}}&emsp;</td>
                    <td><a href="/delete_student/{{student.id}}/" class="btn btn-danger"
                            onclick="return confirm('ARE YOU SURE YOU WANT TO DELETE THIS STUDENT?')">DELETE</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>

</html>