<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  {% load static %}
  <link rel="icon" href="{% static 'lms.png' %}" />
  <title>Books</title>
</head>


<div class="p-3 mb-2 bg-info text-white">
  <a href="/index" button type="button" class="btn btn-dark">HOME</a></button>
  <div style="text-align: center;">
    <form class="form" id="searchform" action="" method="get">
    {% csrf_token %}
      <div class="form-field">
        <input type="text" class="col-5  form-control-lg" placeholder="ENTER BOOK NAME, AUTHOR OR CATEGORY"
          name="search_query" type="text" />
        <button type="submit" class="btn btn-success form-control-lg" style="margin-bottom: 9px;" value="search">SEARCH
        </button>
      </div>
  </div>
  </form>
</div>
<body>

  <h1>BOOK LIST</h1>

  {% if books %}

  <div class="row mx-auto">
    {% for book in books %}

    <div class="mx-3 col-md-4 col-lg-3 mb-4 shadow p-2 mb-4 bg-white rounded">
      <div class="card mx-auto text-center">
        <img class="card-img-top" src="{{ book.profile_pic.url }}" alt="Sample Title">
        <div class="card-body">
          <h2 class="card-title">{{book.name}}</h2>
          <h5>AUTHOR: {{book.author}}</h5>
          <h6>CATEGORY: {{book.category}}</h6>
          <h6>(ISBN: {{book.isbn}})</h6>
          {% if request.user.is_superuser %}
          <br /><a href="/delete_book/{{book.id}}/" class="btn btn-danger"onclick="return confirm('ARE YOU SURE YOU WANT TO DELETE THIS BOOK?')">DELETE</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class=" bg bg-black">THERE ARE NO BOOKS.</p>
  {% endif %}
</body>

</html>