<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <title>view_student</title>
<a href="/index"button type="button" class="btn btn-dark">Home</a></button>
<div class="p-3 mb-2 bg-info text-white">
 <div style="text-align: center;">
        <form class="form" id="searchform" action="" method="get">
            <div class="form-field">
                <input type="text" class="col-5  form-control-lg" placeholder="Enter Roll No " name="search_student"
                       type="text"/>
                <button type="submit" class="btn btn-success form-control-lg" value="search">Search
                </button>
            </div>

        </form>
    </div>

  <div class="container mt-4">
    <h1 class="text-center"><u>Students List</u></h1>
    <table class="table table-hover" id="example">
        <thead>
            <tr class="text-center">
                <th>Sr.No</th><br>
                <th>Name</th>
                <th>Email</th>
                <th>Roll Number</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr class="text-center">
                <th>{{forloop.counter}}.&emsp;</th>
                <td>&emsp;{{student.user.get_username}}&emsp;</td>
                <td>{{student.user.email}}&emsp;</td>
                <td>{{student.roll_no}}&emsp;</td>
                <td><a href="/delete_student/{{student.id}}/" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this student?')">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<body>

</body>
</html>